pipeline/DeltaChangeVersionPipeline_csv.json
{
	"name": "DeltaChangeVersionPipeline_csv",
	"properties": {
		"description": "Uses sys_change_version",
		"activities": [
			{
				"name": "LookupInvoiceOld",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT change_version AS OldChangeVersion FROM watermarktable WHERE TableName = 'PBT_Invoice'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupInvoiceNew",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(sys_change_version) AS NewChangeVersion FROM PBT_Invoice",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EtlSqlDbDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set InvoiceNew",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupInvoiceNew",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "InvoiceNew",
					"value": {
						"value": "@{activity('LookupInvoiceNew').output.firstRow.NewChangeVersion}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set InvoiceOld",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupInvoiceOld",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "InvoiceOld",
					"value": {
						"value": "@{activity('LookupInvoiceOld').output.firstRow.OldChangeVersion}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If watermark is sane",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set InvoiceNew",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set InvoiceOld",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Old Customer wm",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set CustomerNew",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(greater(int(variables('InvoiceNew')), int(variables('InvoiceOld'))),\ngreater(int(variables('CustomerNew')), int(variables('CustomerOld')))\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Nothing to do",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "From SQL to Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * from @{variables('TableName')} \nWHERE \nInvoiceSysChangeVersion > '@{variables('InvoiceOld')}' AND InvoiceSysChangeVersion <= '@{variables('InvoiceNew')}'\nOR\nCustomerSysChangeVersion > '@{variables('CustomerOld')}' AND CustomerSysChangeVersion <= '@{variables('CustomerNew')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"maxRowsPerFile": 100,
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EtlSqlDbDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CsvDataset",
									"type": "DatasetReference",
									"parameters": {
										"outputDir": {
											"value": "@variables('TableName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Store invoice watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "From SQL to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_changeversion]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "PBT_Invoice",
										"type": "String"
									},
									"version": {
										"value": {
											"value": "@variables('InvoiceNew')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLinkedService",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Store customer watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "From SQL to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_changeversion]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "PBT_Customer",
										"type": "String"
									},
									"version": {
										"value": {
											"value": "@variables('CustomerNew')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLinkedService",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LookupCustomerNew",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(sys_change_version) AS NewChangeVersion FROM PBT_Customer",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "EtlSqlDbDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set CustomerNew",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupCustomerNew",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CustomerNew",
					"value": {
						"value": "@{activity('LookupCustomerNew').output.firstRow.NewChangeVersion}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Old Customer wm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "OldCustomer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CustomerOld",
					"value": {
						"value": "@{activity('OldCustomer').output.firstRow.OldChangeVersion}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OldCustomer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT change_version AS OldChangeVersion FROM watermarktable WHERE TableName = 'PBT_Customer'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "bixia_service_Invoices"
			},
			"InvoiceNew": {
				"type": "String",
				"defaultValue": "0"
			},
			"InvoiceOld": {
				"type": "String",
				"defaultValue": "999999999999"
			},
			"CustomerNew": {
				"type": "String",
				"defaultValue": "0"
			},
			"CustomerOld": {
				"type": "String",
				"defaultValue": "999999999999"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-11-27T11:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}